{% extends "master.html" %}

{% block title %}
Certifications Page
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="mt-4 p-5 bg-primary text-white rounded">
      <h1>Certifications</h1> 
      <p>This section shows a brief summary of Wellington's certifications. </p> 
    </div>
</div>
<br>
<br>

<div class="container mt-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Certification</th>
          <th>Institution</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Python Essential Training </td>
          <td>LinkedIn </a></td>
          <td>June 2023</td>
        </tr>
        <tr>
          <td>Python Automation and Testing</td>
          <td>LinkedIn </a></td>
          <td>June 2023</td>
        </tr>
        <tr>
            <td>API Testing </td>
            <td>LinkedIn </a></td>
            <td>June 2023</td>
          </tr>
          <tr>
            <td>Agile Testing</td>
            <td>LinkedIn </a></td>
            <td>June 2023</td>
          </tr>
          <tr>
            <td>Software Testing Foundations: Test
                Techniques</td>
            <td>LinkedIn </a></td>
            <td>June 2023</td>
          </tr>
          <tr>
            <td>Software Testing Foundations: Bug
                Writing and Management</td>
            <td>LinkedIn </a></td>
            <td>June 2023</td>
          </tr>
          <tr>
            <td>Diploma in HTML5, CSS3 and JavaScript</td>
            <td>Alison </a></td>
            <td>January 2023</td>
          </tr>
      </tbody>
    </table>
  </div>
{% endblock %}



