{% extends "master.html" %}

{% block title %}
education
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="mt-4 p-5 bg-primary text-white rounded">
      <h1>Education</h1> 
      <p>This section shows a brief summary of Wellington's education. </p> 
    </div>
</div>
<br>
<br>
<div class="container mt-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Qualification</th>
          <th>Institution</th>
          <th>TimeFrame</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>MTech Computer Science and Engineering </td>
          <td><a href ='https://itmuniversity.ac.in/'> ITM University Gwalior </a></td>
          <td>Jul. 2014 - Jun 2016</td>
        </tr>
        <tr>
          <td>BTech Computer Science</td>
          <td><a href ='https://www.hit.ac.zw//'> Harare Institute of Technology </a></td>
          <td>Aug 2007 - May 2011</td>
        </tr>
      </tbody>
    </table>
  </div>
  
{% endblock %}


