{% extends "master.html" %}

{% block title %}
Index Page 
{% endblock %}

{% block content %}
<div class="container-md ">
    <div class="card" style="width:500px">
        <img class="card-img-top rounded-circle img-thumbnail float-end img-fluid" src="https://pbs.twimg.com/profile_images/687817172421197824/Cf2D_ijw_400x400.jpg" alt="Card image" style="width:90%">
        <div class="card-body">
            <h4 class="card-title">Wellington Manjoro</h4>
            <p class="card-text">Wellington is a Software Engineer in Test, A Data Analyst, An Educator/Trainer and a Software Developer</p>
            <a href="http://127.0.0.1:8000/links/" class="btn btn-primary">See Profile</a>
        </div>
    </div>
</div>



{% endblock %}


