{% extends "master.html" %}

{% block title %}
My Profile
{% endblock %}


{% block content %}
<div class="container mt-3">
  <div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Overview</h1> 
    <p>This section shows an overview Wellington's profile. </p> 
  </div>
</div>
 
  <br>
  <ul>
    <li> <a href ='/work_history/'> <h3>Work History</h3> </a>  </li>
    <li> <a href ='/education'> <h3>Education</h3> </a>  </li>
    <li> <a href ='/certifications'> <h3>Certifications</h3> </a>  </li>
    <li> <a href ='/skills'>   <h3>Technical Skills</h3></a></li>
    <li> <a href ='/projects'> <h3>Projects</h3> </a>  </li>
    <li> <a href ='/references'> <h3>References</h3> </a>  </li>
  
{% endblock %}



