{% extends "master.html" %}

{% block title %}
Skills Page
{% endblock %}

{% block content %}

<div class="container mt-3">
  <div class="container mt-3">
    <div class="mt-4 p-5 bg-primary text-white rounded">
      <h1>Technical Skills</h1> 
      <p>This section shows a brief summary of Wellington's skills and level of expertise in each skill. </p> 
    </div>
</div>
    <br>
    <p>Python Programming</p>
    <div class="progress" style="height:30px">
      <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:93%;"></div>
    </div>
    <br>
    <br>
    <p>Automation Testing: Selenium Webdriver</p>
    <div class="progress" style="height:30px">
      <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:90%;"></div>
    </div>
    <br>
    <br>
    <p>Manual Software Testing</p>
    <div class="progress" style="height:30px">
      <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:99%;"></div>
    </div>
    <br>
    <br>
    <p>Agile Testing: Jira</p>
    <div class="progress" style="height:30px">
      <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:85%;"></div>
    </div>
    <br>
    <br>
    <p>API Testing: Postman</p>
    <div class="progress" style="height:30px">
      <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:85%;"></div>
    </div>
    <br>
    <br>
    <p>CI/CD: Jenkins </p>
    <div class="progress" style="height:30px">
      <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:80%;"></div>
    </div>
    <br>
    <br>
    <p>Data Analysis: Python</p>
    <div class="progress" style="height:30px">
      <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:85%;"></div>
    </div>
    <br>
    <br>
    <p>Web Developmet: Django, HTML, CSS, JavaScript, Bootstrap 5</p>
    <div class="progress" style="height:30px">
      <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:90%;"></div>
    </div>
    <br>
    <br>
    <p>Software Design and Analysis</p>
    <div class="progress" style="height:30px">
      <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:99%;"></div>
    </div>
    <br>
    <br>
    <p>Software Project Management: Jira</p>
    <div class="progress" style="height:30px">
      <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:90%;"></div>
    </div>

  </div>

{% endblock %}



