{% extends "master.html" %}

{% block title %}
Index Page 
{% endblock %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
  


{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-4 p-3 bg-primary text-white">.col</div>
        <div class="col-sm-8 p-3 bg-dark text-white">.col</div>
    </div>
    <p></p>
    <p></p>
    <p></p>

    <div class=" p-3 bg-dark text-white">
        <p>
            <img src="https://pbs.twimg.com/profile_images/687817172421197824/Cf2D_ijw_400x400.jpg" class="rounded-circle img-thumbnail float-end img-fluid" alt="face" width="200" height="150">
        </p>
        <h2>Hello! My name is Wellington Manjoro </h2>
        <h3>More about myself?</h3>
        <h4>Take a look at <a href="/cv">My Profile</a></h4>
    </div>
</div>


<div class="container mt-3">
    <h2>Basic Table</h2>
    <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>            
    <table class="table">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="container mt-3">
  <h2>Example of Jumbotron</h2>
  <div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Jumbotron Example</h1> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p> 
  </div>
</div>

<div class="container mt-3">
  <h2>Alert Links</h2>
  <p>Add the alert-link class to any links inside the alert box to create "matching colored links".</p>
  <div class="alert alert-success">
    <strong>Success!</strong> You should <a href="#" class="alert-link">read this message</a>.
  </div>
  <div class="alert alert-info">
    <strong>Info!</strong> You should <a href="#" class="alert-link">read this message</a>.
  </div>
  <div class="alert alert-warning">
    <strong>Warning!</strong> You should <a href="#" class="alert-link">read this message</a>.
  </div>
  <div class="alert alert-danger">
    <strong>Danger!</strong> You should <a href="#" class="alert-link">read this message</a>.
  </div>
  <div class="alert alert-primary">
    <strong>Primary!</strong> You should <a href="#" class="alert-link">read this message</a>.
  </div>
  <div class="alert alert-secondary">
    <strong>Secondary!</strong> You should <a href="#" class="alert-link">read this message</a>.
  </div>
  <div class="alert alert-dark">
    <strong>Dark!</strong> You should <a href="#" class="alert-link">read this message</a>.
  </div>
  <div class="alert alert-light">
    <strong>Light!</strong> You should <a href="#" class="alert-link">read this message</a>.
  </div>
</div>

<div class="container mt-3">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/">1</a></li>
    <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/cv/">2</a></li>
    <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/cv/work_history/">3</a></li>
    <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/cv/education/">Next</a></li>
  </ul>
</div>



  <div class="card" style="width:500px">
    <img class="card-img-top rounded-circle img-thumbnail float-end img-fluid" src="https://pbs.twimg.com/profile_images/687817172421197824/Cf2D_ijw_400x400.jpg" alt="Card image" style="width:80%">
    <div class="card-body">
      <h4 class="card-title">Wellington Manjoro</h4>
      <p class="card-text">Wellington is a Software Engineer in Test, A Data Analyst and a Software Developer</p>
      <a href="http://127.0.0.1:8000/cv/" class="btn btn-primary">See Profile</a>
    </div>
  </div>

</div>

{% endblock %}


