{% extends "master.html" %}

{% block title %}
Work History
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="mt-4 p-5 bg-primary text-white rounded">
      <h1>Work History</h1> 
      <p>This section shows a brief summary of Wellington's work history. </p> 
    </div>
</div>
<br>
<br>

<div class="container mt-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Organization</th>
          <th>Position</th>
          <th>TimeFrame</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Harare Institute of Technology</td>
          <td>Teaching Assistant</td>
          <td>Sept. 2013 - Jun 2014</td>
        </tr>
        <tr>
          <td>Harare Institute of Technology</td>
          <td>Lecturer</td>
          <td>Jul 2016 - Feb 2022</td>
        </tr>
        <tr>
          <td>Seight8 Technologies</td>
          <td>Software Engineer in Test</td>
          <td>Mar 2022 - Current</td>
        </tr>
      </tbody>
    </table>
  </div>

{% endblock %}



